.page__content,
.page__content p,
.page__content li {
  text-align: justify !important;
}


.quick-links .btn:hover {
  background-color: #5c1620;
  border-color: #5c1620;
  text-decoration: none;
}

/* Navigation bar */
.masthead,
.masthead__menu-item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/* Sidebar (profile) */
.author__content,
.author__bio {
  font-family: "Inter", sans-serif;
}

/* Links */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@keyframes badgePulse {
  0%   { box-shadow: 0 0 0 0 rgba(99,231,255,0.55); }
  70%  { box-shadow: 0 0 0 10px rgba(99,231,255,0.00); }
  100% { box-shadow: 0 0 0 0 rgba(99,231,255,0.00); }
}

.news-badge.pulse{
  animation: badgePulse 1.8s ease-out infinite;
}