.page__content,
.page__content p,
.page__content li {
  text-align: justify !important;
}


.quick-links .btn:hover {
  background-color: #5c1620;
  border-color: #5c1620;
  text-decoration: none;
}

/* Navigation bar */
.masthead,
.masthead__menu-item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/* Sidebar (profile) */
.author__content,
.author__bio {
  font-family: "Inter", sans-serif;
}

/* Links */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}