---
# Only the main Sass file needs front matter (required for Jekyll to compile)
---

@charset "utf-8";

/* Minimal Mistakes skin first */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";

/* Minimal Mistakes core */
@import "minimal-mistakes";